<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/common :: common-meta" />
<body>
<header th:replace="common/common :: common-header" />
<form th:action="@{/login}" method="post">
    <input type="text" placeholder="Username" name="username" id="username" required="required" autofocus="autofocus"/>
    <input type="password" roleId="inputPassword" class="form-control" placeholder="Password" id="password" name="password" required="required"/>
    <input type="checkbox" name="remember-me" id="remember-me"/> Remember me
    <button type="submit">Sign in</button>
</form>

<footer th:replace="common/common :: common-footer" />
</body>
</html>