<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  [fullscreenControl]="true"
  (mapClick)="onMapClicked($event)">
  <agm-marker
    *ngFor="let marker of markers; let i = index"
    [latitude]="marker.lat"
    [longitude]="marker.lng"
    [markerDraggable]="marker.draggable"
    (markerClick)="onClickMarker(marker, i)"
    (mouseOver)="onHoverMarker($event, info)"
    (mouseOut)="onMouseOut($event, info)"
    (dragEnd)="onMarkerDragEnd(marker, $event)"
  >
    <agm-info-window #info>
      <p><strong>{{ marker.name }}</strong></p>
      <p><img
        *ngFor="let image of marker.imagesObject"
        [src]="image"
        style="max-width: 50px;"
      ></p>
      <!--<p><img-->
      <!--*ngFor="let previewImage of previewImages"-->
      <!--[src]="previewImage"-->
      <!--style="max-width: 50px;"-->
      <!--&gt;</p>-->
      <a class="deleteMarker" (click)="onDeleteMarker(i)">Delete</a>
    </agm-info-window>
  </agm-marker>
</agm-map>
