<form (ngSubmit)="onSubmit(f)" #f="ngForm" enctype="multipart/form-data">
  <div>
    <input
      list="objects"
      placeholder="{{ 'PersonalArea.InputNameObject' | translate }}"
      name="nameObject"
      autocomplete="off"
      (input)="setNameObjectToMarker($event)"
      ngModel
      required
    />
    <datalist id="objects">
      <option *ngFor="let object of namesObjects" value="{{ object.nameEn }}">
      <option *ngFor="let object of namesObjects" value="{{ object.nameRu }}">
    </datalist>
  </div>
  <div>
    <app-google-map (positionObject)="getPositionObject($event)" (isNewObject)="isSetNewObject($event)"></app-google-map>
  </div>
  <div>
    <input
      required
      type="text"
      name="date"
      ngui-datetime-picker
      [close-on-select]="true"
      ngModel/>
  </div>
  <div>
    <p><label for="imageObject">{{ 'PersonalArea.InputFileLabel' | translate }}</label></p>
    <p>
      <input
        (change)="onFileChange($event)"
        type="file"
        name="imageObject"
        [multiple]="true"
        id="imageObject"
      />
    </p>
    <p>
      <span *ngFor="let previewImage of previewImages">
        <img *ngIf="previewImage != null" [src]="previewImage" [alt]="previewImage" style="max-height: 300px;">
      </span>
    </p>
  </div>
  <div>
    <textarea
      name="comment"
      id="comment"
      cols="30"
      rows="10"
      placeholder="{{ 'PersonalArea.CommentLabel' | translate }}"
      ngModel
    ></textarea>
  </div>
  <button [disabled]="!f.valid || !isNewObject" type="submit">{{ 'PersonalArea.SubmitObject' | translate }}</button>
</form>
